<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
      <div class="card">
        <div class="container-card">
          <div class="row">
            <div class="col-md-12" style="margin-top:15px">
              <h3 class="lato text-center">Solicitar nueva contraseña</h3>
              <hr>
              <%= form_for(:password_reset, :html => {class: 'form-horizontal', role: 'form'}, url: password_resets_path) do |f| %>
                <div class="form-group">
                  <div class="col-md-12">
                    <%= f.email_field :email, class: 'form-control full-width', placeholder: 'Ingresar correo electronico' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-8 col-md-offset-2">
                    <%= f.button 'Enviar correo electronico', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Enviando correo electronico..."}, class: 'btn btn-primary btn-block login-btn' %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-md-12 text-center back_link">
              <%= link_to 'Cancelar', root_path %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
