<h1>Cambio de Contraseña</h1>

<p> Para cambiar tu contraseña da click en el link debajo:</p>

<%= link_to "Cambia tu Contraseña", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Este link expirara en 2 horas.</p>

<p>
  Si tu no hiciste la peticion para cambiar de contraseña, ignora este correo y tu contraseña permancera tal como esta.
</p>