<h1>Confirmacion de registro</h1>
<p>
  Bienvenido <%= @user.name %>
</p>
<p> Este es tu token para generacion de Graficas de utilidad: <b><%= @user.token_chart %></b></p>
<p>
  Tu clave es <strong><%= @user.password%></strong>, favor de cambiarla al iniciar.
</p>
<p>
  Gracias por registrarte! Para confirmar tu registro, da click en el link debajo.
</p>

<p>
  <%= link_to "Confirmar", confirm_email_url(@user.confirm_token)%>
</p>
