<h1>Nuevo token de generacion de Graficas</h1>

<p> Este es tu nuevo token para generacion de Graficas de utilidad: <b><%= @user.token_chart %></b></p>
<p>
  Introduce este token cuando quieras generar Graficas con utilidad.
</p>