<%= render 'shared/page_title', title: "Bienvenido #{@user.name}" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>
<hr>
<% if @predios.any? %>
  <h2 align="left">Predios</h2>
  <%= render 'predios/predio', obj: @user.predios %>
<% else %>
  <h2 class="text-center">Dar de alta nuevo
    predio <%= link_to 'Crear predio', new_predio_path, class: 'btn btn-primary' %> </h2>
<% end %>