<%= render 'shared/page_title', title: 'Estadisticas'%>
<% unless @predio_id.nil?  %>
  <div class="row form-group">
    <div class="col-md-12">
      <h4 class="text-center">Graficas de predio <strong class="namePredio"><%= @predio.name %> </strong></h4>
      <hr>
    </div>
  </div>
<% end %>

<div class="row form-group">
  <div class="col-md-6 text-left">
    <%= select_tag "predio[:predio_id]",
      options_from_collection_for_select(@predios, "id", "name"),
      multiple: false, prompt: "Selecciona un predio", class: 'form-control', id: 'predio'%>
  </div>
</div>

<% unless @predio_id.nil?  %>
  <input type="hidden" id="hdPredioId" value="<%= @predio.id %>">
<% end %>
  
<div class="row form-group">
  <div class="col-md-12">
    <div id="barchart_earnings" class="card"></div>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-12">
    <div id="barchart_sales" class="card"></div>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-12">
    <div id="barchart_payments" class="card"></div>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-12">
    <div id="barchart_materials" class="card"></div>
  </div>
</div>

