<%= render 'shared/page_title', title: 'Mis solicitudes' %>
<div class="row">
  <%= link_to 'Crear Vuelo', new_vuelo_path, class: 'btn btn-primary' if current_user.admin? %> <br />
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Productor</th>
        <th>Predio</th>
      </tr>
      </thead>
      <tbody>
      <% @requests.each do |request| %>
          <tr>
            <td><%= request.user.name%></td>
            <td><%= request.predio %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>