
<!--<div class="jumbotron">-->
  <!--<h2 class="text-center">Bienvenido</h2>-->
  <!--<div class="botones text-center">-->
    <!-- <%= link_to 'Iniciar sesion', login_path, class: 'btn btn-primary' %> |-->
    <!--<%= link_to 'Crear cuenta', signup_path, class: 'btn btn-primary' %>-->
  <!--</div>-->
<!--</div>-->
<!--<h3>page home</h3>-->