<% obj.each do |predio| %>
  <div class="col-md-4 card text-center" >
    <div class="container-card">
      <h4><strong><%= predio.name %></strong></h4> 
      <p><%= predio.no_hectareas %> Hectareas</p>
      <p><%= link_to 'Informacion Predio', info_path(predio)%></p>
        <p>
          <span class="quiet"><small>Creado hace <%= time_ago_in_words(predio.created_at) %></small></span>
        </p>
    </div>
  </div>
<% end %>