<%= render 'shared/page_title', title: 'Predios' %>
<div class="row">
  <div class="col-md-12 text-right form-group">
    <%= link_to 'Crear predio <i class="fa fa-plus-circle" aria-hidden="true"></i>'.html_safe, new_predio_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'predio', obj: @predios %>
  </div>
</div>
