@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  color: #b9fffc;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
h1, .h1
h2, .h2
h3, .h3
h4, .h4
h5, .h5
h6, .h6 {
  font-family: 'Roboto Slab', serif;
}