// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  color: #c3f1ff;
  background-color: #296c8f;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
h1, .h1
h2, .h2
h3, .h3
h4, .h4
h5, .h5
h6, .h6 {
  font-family: 'Roboto Slab', serif;
}
.well {
  color: #b9fffc;
}
.well a {
  color: rgb(223, 172, 172)
}
.well p {
  color: rgb(47, 53, 249)
}
.listing {
  list-style: none;
  padding-left: 0;
  margin: 3px;
}

.botones {
  margin-top: 70px;
}